.navbar {
    background-color: #f2f2f2;
    color: #737373;
}

    .navbar .home-link {
        margin-left: 15px;
    }

    .navbar .nav.navbar-nav.navbar-right {
    }

        .navbar .nav.navbar-nav.navbar-right li {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .navbar .nav.navbar-nav.navbar-right hr {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
            margin-right: 15px;
        }

    .navbar .navbar-user-info {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }

        .navbar .navbar-user-info img {
            display: block;
            border-radius: 50%;
            display: inline-block;
            width: 100px;
            height: auto;
        }

        .navbar .navbar-user-info .user-name {
            margin-top: 10px;
        }

        .navbar .navbar-user-info .user-menu {
            
        }
