.navbar {
    background-color: #f2f2f2;
    color: #737373;
}

    .navbar .home-link {
        margin-left: 15px;
    }

    .navbar .nav.navbar-nav.navbar-right {
    }

        .navbar .nav.navbar-nav.navbar-right li {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .navbar .nav.navbar-nav.navbar-right hr {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 15px;
            margin-right: 15px;
        }
