<div class="navbar navbar-default navbar-todoist navbar-fixed-bottom" ng-controller="NavbarCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="home-link" ui-sref="main">
                <img src="/images/todoist.png"/>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="app-menu">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ui-serf="inbox">
                        <i class="fa fa-plus"></i>
                        New Task
                    </a>
                </li>
                <li><hr/></li>
                <li>
                    <a ui-serf="inbox">
                        <i class="fa fa-inbox"></i>
                        Inbox (Coming soon)
                    </a>
                </li>
                <li>
                    <a ui-sref="today" ng-class="{'active': isActive('today')}">
                        <i class="fa fa-calendar-o"></i>
                        Today
                    </a>
                </li>
                <li>
                    <a ui-sref="week" ng-class="{'active': isActive('week')}">
                        <i class="fa fa-calendar"></i>
                        Next 7 Days
                    </a>
                </li>
                <li><hr/></li>
                <li>
                    <a ui-sref="project" ng-class="{'active': isActive('project')}">Projects</a>
                </li>
                <li>
                    <a ui-serf="projects">Labels (Coming soon)</a>
                </li>
                <li><a ui-serf="projects">Filters (Coming soon)</a></li>
                <li><hr/></li>
            </ul>
            <div class="navbar-user-info">
                <img src="{{user.avatar_big}}"/>
                <p class="user-name">
                    {{user.full_name}}
                </p>

                <ul class="list-inline user-menu">
                    <li>
                        <a>
                            <i class="fa fa-gear"></i>
                            Settings (Coming soon)
                        </a>
                    </li>
                    <li>
                        <a ng-click="logoff()">
                            <i class="fa fa-unlock-alt"></i>
                            Log Off
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>