<div class="container group">
    <div class="row">
        <div class="col-xs-12">
            <h1>Projects</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled project-list">
                <li ng-repeat="project in projects | orderBy:'item_order'" class="project" has-indent="true" indenter="{{project.indent}}"
                    ng-if="project.is_deleted == 0 && project.is_archived == 0 && !project.inbox_project">
                    <a ui-sref="project-view({projectId: project.id, projectName: project.name})">
                        <project-item ng-model="project" show-item-count="true"></project-item>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ng-include="'components/navbar/navbar.html'"></div>