.item-list {
}

    .item-list .item {
        border-bottom: 1px solid #eee;
    }

        .item-list .item:last-of-type {
            border-bottom: 0;
        }

        .item-list .item a {
            display: block;
            padding: 10px 0;
        }

            .item-list .item a.completed {
                color: #999 !important
            }

            .item-list .item a.completed i.fa {
                color: #999 !important
            }

            .item-list .item a.low i.fa {
                color: skyblue;
            }

            .item-list .item a.medium i.fa {
                color: blue;
            }

            .item-list .item a.high i.fa {
                color: red;
            }
