<a item="item" ng-class="{'completed': ngModel.checked == 1,
               'low': ngModel.priority == 2,
               'medium': ngModel.priority == 3,
               'high': ngModel.priority == 4
               }">
    <i class="fa fa-check-square item-checkbox" ng-if="ngModel.checked == 1" ng-click="toggleComplete($event, ngModel.id)"></i>
    <i class="fa fa-square item-checkbox" ng-if="ngModel.checked == 0" ng-click="toggleComplete($event, ngModel.id)"></i>

    <div class="content" ng-dblclick="editItem(ngModel.id)">
        {{ngModel.content}}
    </div>
    <div class="meta">
        <span class="project" ng-if="showProject">
            <project-item ng-model="ngModel.project_id"></project-item>
        </span>
        <span class="date" ng-if="showDates">{{itemDueDate}}</span>
    </div>
</a>